#container{
display:flexbox;

}


img{

padding-top:20px;
border-radius:50%;
height:250px;
width:250px;

}

#p1{

background-color:lightskyblue;
color:white;
text-align:center;

}

#contents{
width:1000px;
height:420px;
padding-left:150px;
}


#p2{
text-align:center;
font-weight: lighter;

}
#bio{
    padding-left:30px;
}

#bold{
    font-weight: bold;
}
#l{
word-spacing:100px;

}
#r{
    word-spacing:65px;
}


button{

background-color:cyan;
width:200px;
height:50px;
border-radius: 12px;

}